<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <title>ISBN Checker</title>
</head>
<body ng-app="isbnchecker">

<div class="container" align="center">
    <div class="row">
        <div class="span4">
            <div class="page-header">
                <h1>ISBN Checker</h1>
            </div>
        <div ng-controller="StatusResult" contenteditable="true">
            <span ng-repeat="book in libri" ng-model="libri">
                <strong ng-class="{'text-success': book.status, 'text-error': !book.status}" ng-bind="book.isbn"></strong>
                <br/>
            </span>
            <br/>
            <button class="btn btn-large btn-warning" ng-if="libri[0]" type="button" ng-click="reset()">Reset</button>
        </div>
            <hr>
        </div>
    </div>
<div class="row">
    <div class="span4">
    <div ng-controller="IsbnForm">
        <form role="form">
            <div class="form-group well">
            <label for="mainInput">Insert ISBN or list of ISBNs <br/>(carriage return after each)</label>
            <textarea id="mainInput" class="input-block-level" ng-model="data.isbn"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-large" ng-click="checkIsbn(data.isbn)">CHECK</button>
        </form>
    </div>
        <div class="modal-footer">
            <a href="https://twitter.com/gabalese">@gabalese</a>
        </div>
    </div>
</div>
</div>
</body>
<script>
    var app = angular.module('isbnchecker', []);
    $('#mainInput').focus();
    app.factory('Data', function(){
        return { "books": [] };
    });

    function StatusResult($scope, Data){
        $scope.libri = Data.books;
        $scope.reset = function(){
            Data.books.splice(0, Data.books.length);
            $('#mainInput').focus();
        }
    }

    function IsbnForm($scope, $http, Data){
        $scope.data = "";
        $scope.checkIsbn = function(isbn){
            var lines = isbn.split("\n");
            $.each(lines, function(){
                $http.get("/check/" + this).success(function (data) {
                    Data.books.push({"isbn": data.isbn, "status": data.status});
                    $scope.data = "";
                    $('#mainInput').focus();
                });
            });
        }
    }

</script>
</html>
